<nav>
    <ul >
        <li><a href="/">Home</a></li>
        <% if (currentUser) { %>
        <li><a href="/">Welcome <%= currentUser.username %></a></li>
        <li><a href="/new">Add A Movie</a></li>
        <li >
          <form action="/sessions?_method=DELETE" method="POST">
            <input class="btn" type="submit" value="Log Out" class="btn-small red" />
          </form>
        </li>
        <% } else { %>
        <li ><a href="/users/new">Sign Up</a></li>
        <li ><a href="/sessions/new">Log In</a></li>
        <% } %>
      </ul>
</nav>