<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav><button onclick="location.href='/users/new'" type="button">Sign Up</button></nav>
</head>
<body>
    <ul>
        <% for(let i = 0; i < movies.length; i++){ %>
            <li>
                    <img src=<%= movies[i].icon%> alt="" onclick="location.href='/homepage/<%= movies[i].id;%>'">    
            </li>
        <% } %>
    </ul>
</body>
</html>