<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/C4985C608BA88E6AD080AEE79C0192B35AFC59889EFD938A761F813FB014DDF4/scale?width=1440&aspectRatio=1.78" alt="">
</body>
</html>