<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>Add New Movie</h1>
        <form class="text newMovie" action="/" method="POST">
            
            title:<input type="text" name="title" />
            "title img":<input type="text" name="title img" />
            img:<input type="text" name="img" />
            "release date":<input type="number" name="release date" />
            description:<input type="text" name="description" />
            director:<input type="text" name="director" />
            genre:<input type="text" name="genre" />
            staring:<input type="text" name="staring" />
            icon:<input type="text" name="icon" />
            <input type="submit" name="" value="Add Movie"/>
        </form>

<%- include('../partials/footer.ejs') %>