<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1 class="text">Add New Movie</h1>
        <form class="text form" action="/" method="POST">
            
            Title:<input type="text" name="title" />
            Title Image:<input type="text" name="title img" />
            Background Image:<input type="text" name="img" />
            Release Date:<input type="number" name="release date" />
            Description:<input type="text" name="description" />
            Director:<input type="text" name="director" />
            Genre:<input type="text" name="genre" />
            Staring:<input type="text" name="staring" />
            Homepage Image:<input type="text" name="icon" />
            <input type="submit" name="" value="Add Movie"/>
        </form>

<%- include('../partials/footer.ejs') %>