<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>Add New Movie</h1>
        <form action="/movies" method="POST">
            <input type="text" name="name" />
        title:{type:String, require:true},
        "title img":{type:String, require:true},
        img:{type:String, require:true},
        "release date":{type:Number, require:true},
        description:{type:String, required:true},
        director:{type:String, require:true},
        genre:{type:String, require:true},
        staring:{type:String, require:true},
        icon:{type:String, require:true},
            Name: <input type="text" name="name" /><br/>
            Color: <input type="text" name="color" /><br/>
            Is Ready To Eat: <input type="checkbox" name="readyToEat" /><br/>
            <input type="submit" name="" value="Create Fruit"/>
        </form>

<%- include('../partials/footer.ejs') %>