<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
    <div class="loginPage">
        <h1 class="text">New User page</h1>
        <form class="text" action="/users" method="POST">
            Username: <input type="text" name="username" /><br/>
            Password: <input type="password" name="password" /><br/>
            <input class="btn" type="submit" name="" value="Create User"/>
        </form>
    </div>
</body>
</html>